
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
display:flex;
background:#eef2f7;
}

.sidebar{

width:260px;

height:100vh;

background:#0f172a;

color:white;

position:fixed;

left:0;

top:0;

padding:30px 20px;

}

.logo{

font-size:28px;

font-weight:700;

margin-bottom:50px;

color:#38bdf8;

}

.logo i{

margin-right:10px;

}

.sidebar ul{

list-style:none;

}

.sidebar ul li{

margin:22px 0;

}

.sidebar ul li a{

text-decoration:none;

color:white;

font-size:17px;

display:block;

padding:12px 15px;

border-radius:10px;

transition:.3s;

}

.sidebar ul li a:hover{

background:#2563eb;

}

.sidebar ul li i{

margin-right:12px;

}

.main{

margin-left:260px;

width:calc(100% - 260px);

padding:35px;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.topbar h2{

font-size:35px;

color:#0f172a;

}

.profile{

display:flex;

align-items:center;

gap:10px;

font-size:18px;

font-weight:600;

}

.profile i{

font-size:40px;

color:#2563eb;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:40px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

color:#64748b;

margin-bottom:10px;

font-size:18px;

}

.card h1{

font-size:40px;

color:#2563eb;

}

.welcome{

background:white;

padding:45px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.welcome h1{

font-size:42px;

margin-bottom:15px;

color:#0f172a;

}

.welcome p{

font-size:18px;

color:#64748b;

margin-bottom:30px;

}

.welcome button{

padding:15px 35px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.welcome button:hover{

background:#1d4ed8;

}
